*{
  box-sizing: border-box;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}
p {color:aliceblue}
 a {
  color: rgb(182, 187, 192);
  background-color: blueviolet;
  margin: 10px 5px;
}

nav a {
  background-color: transparent;
  color: white;
  margin: 0;
  text-decoration: none;
}
img{margin-left: 100px;}
body{font-family:Arial, Helvetica, sans-serif;}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #36060d;
  padding: 20px;
  border-radius: 2px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media only screen and (max-width: 600px){
  .card-grid {
    grid-template-columns: 1fr;
  } 
  nav {
    flex-direction: column;
  }
  h1 {
    font-size: 22px;
  }
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 601px){
  .card-grid {
    grid-template-columns: 1fr;
  } 
  nav {
    flex-direction: row;
  }
}
